@(form: Form[(String, String, String)])(implicit request: UserRequest)
@layout.user(Messages("m.password.title")) {
    <form action="@routes.Settings.changePassword()" method="post" class="bs-docs-example form-horizontal" id="inputForm">
        <fieldset>
            <legend>@Messages("m.password.title")</legend>
            @tags.errors(form)
            @tags.requestflash(request)
            <div class="control-group">
                <label class="control-label">@Messages("m.login.email")</label>
                <div class="controls">@request.user.email</div>
                <input type="hidden" id="username" value="@request.user.email">
            </div>
            <div class="control-group">
                <label class="control-label" for="currentPassword">@Messages("m.password.current")</label>
                <div class="controls">
                    <input type="password" name="password.current" id="currentPassword" placeholder="@Messages("m.password.current")" class="">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="newPassword">@Messages("m.password.new")</label>
                <div class="controls">
                    <input type="password" name="password.new" id="newPassword" placeholder="@Messages("m.password.new")">
                    <div class="password-meter help-inline">
                        <div class="password-meter-message"> </div>
                        <div class="password-meter-bg">
                            <div class="password-meter-bar"></div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="control-group">
                <label class="control-label" for="repeatPassword">@Messages("m.password.confirm")</label>
                <div class="controls">
                    <input type="password" name="password.confirm" id="repeatPassword" placeholder="@Messages("m.password.confirm")">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn">@Messages("m.password.submit")</button>&nbsp;&nbsp;&nbsp; <button type="button" class="btn" onclick="history.back()">@Messages("common.back")</button>
                </div>
            </div>
        </fieldset>
    </form>
}

<script type="text/javascript">
    $(document).ready(function(){
    var minlen = appconf.admin.pwdMinLen;
    var maxlen = appconf.admin.pwdMaxLen;
    $("#inputForm").validate({
    errorClass: "invalid",
    rules:{
    "password.current" : {
    required : true,
    minlength : minlen,
    maxlength: maxlen,
    password: false
    },
    "password.new" : {
    password : "#username",
    required : true,
    minlength : minlen,
    maxlength: maxlen
    },
    "password.confirm":{
    password: false,
    required : true,
    minlength : minlen,
    maxlength: maxlen,
    equalTo: "#newPassword"
    }
    }
    });
    });
</script>
