@(page: loom.models.Page, call: RichCall)
<div class="pagination pagination-centered">
    <ul>
        @page.prev.map { prev =>
        <li><a href="@call.tourl(("p" -> prev))">&laquo;</a></li>
        @prev.min(page.pageNo - 3).max(1).until(page.pageNo).map { pg =>
            <li><a href="@call.tourl(("p" -> pg))">@pg</a></li>
        }
        }.getOrElse {
            <li class="disabled"><a href="#">&laquo;</a></li>
        }

        <li class="active"><a href="#">@page.pageNo</a></li>
        @page.next.map { next =>
            @next.toLong.max(page.totalPages - 3).to(page.totalPages).map { pg =>
                <li><a href="@call.tourl(("p" -> pg))">@pg</a></li>
            }

        <li><a href="@call.tourl(("p" -> next))">&raquo;</a></li>
        }.getOrElse {
            <li class="disabled"><a href="#">&raquo;</a></li>
        }

    </ul>
</div>