@(form: Form[(String, String)])(implicit request: RichRequest)
    @layout.mini(Messages("m.login.title")) {
        <form class="" action="@RCall(routes.Index.authenticate())" method="post">
            <h2 class="form-signin-heading">@Msg("m.login.please.sign.in")</h2>
            @tags.requestflash(request)
            @tags.errors(form)
            <input type="text" name="username" class="input-block-level" placeholder="@Messages("m.login.email")" value="@form("username").value">
            <input type="password" name="password" class="input-block-level" placeholder="@Messages("m.login.password")">
            <label class="checkbox">
                <input type="checkbox" value="remember-me">@Messages("m.login.remember.me")
            </label>
            <button class="btn btn-large btn-primary" type="submit">@Messages("m.login.sign.in")</button> &nbsp; <a href="@RCall(routes.Index.signupForm())">@Messages("m.login.sign.up")</a>
        </form>
    }


